.Rproj.user
.Rhistory
.RData
.Ruserdata
A01-scope.Rmd
A02-modelling.Rmd
A03-workflow.Rmd
B01-linearregression.Rmd
B02-changepoint.Rmd
B02-changepoint.nb.html
B03-mixtures.Rmd
C01-armax.Rmd
C02-hidden.Rmd
C03-msm.Rmd
D01-statespace.Rmd
D02-simple.Rmd
D03-pysip.Rmd
Dockerfile
E01-gaussianprocess.Rmd
H01-references.Rmd
buildingenergygeeks.Rproj
build_the_book.R
/figures
